.cromo {
    background-repeat: no-repeat;
    width: 200px;
    height: 250px;
    padding: 20px;
    align-items: flex-end;
    justify-content:center;
    background-size: contain;
    display: flex;
    background-position: center;
}

.cromo h2 {
    font-size: 15px;
    color: #D67714;
    -webkit-text-stroke: 0.5px #574A3F; 
}