@font-face {
  font-family: You Blockhead;
  src: url(/fonts/You-Blockhead.ttf);
  font-display: block;
}

body {
  font-family: You Blockhead;
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #0075f2;
  background-image: url(http://www.transparenttextures.com/patterns/padded.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.app{

}

.wall{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 3rem;
}