.heroCont {
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  background: transparent;
  margin: 4rem 0;
}

.heroCont .detailsC {
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #b7c7dd;
  background-image: url('https://www.transparenttextures.com/patterns/nice-snow.png');

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  border: ridge #f6de6a 1rem;
}

.heroCont .counters-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heroCont .counters-text {
  margin-bottom: 0.5rem;
}

.heroCont .detailsC p {
  width: 100%;
  margin-bottom: 1rem;
  text-align: left;
}

@media screen and (max-width: 711px) {
  .heroCont {
    flex-direction: column;
    height: auto;
  }

  .heroCont .detailsC {
    width: 53%;
  }
}

@media screen and (max-width: 456px) {
  .heroCont {
    padding: 2rem;
  }
}
