@font-face {
  font-family: You Blockhead;
  src: url(/fonts/You-Blockhead.ttf);
  font-display: block;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: You Blockhead;
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #0075f2;
  background-image: url(http://www.transparenttextures.com/patterns/padded.png);
  flex-wrap: wrap;
  gap: 20rem;
}

#app {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wall {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 3rem;
}
