.hero-container {
  padding: 1rem 6rem;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f6f6f6;
}

.hero-container .details {
  width: 20%;
  height: 80%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #f6f6f6;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hero-container .counters-text {
  margin-bottom: 0.5rem;
}
.hero-container .counters img {
  height: 25px;
  width: 25px;
}
