header img {
  width: 19%;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(
    rgba(219, 214, 27, 1) 10%,
    rgb(0, 0, 0) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  font-size: 3rem;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 20rem;
  background-color: #522919;
  background-image: url('https://www.transparenttextures.com/patterns/purty-wood.png');
  padding: 0;
  border-bottom: ridge #f6de6a 1rem;
  box-shadow: #000000 0 0 3rem;
}
